<%= provide :title, t('actions.ask_question') %>

<%= currently_at t('actions.ask_question') %>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2><%= provide :title, t('actions.new_resource', resource: t('resources.question')) %></h2>
    </div>
    <div class="card-body">
      <%= render 'form'%>
    </div>
  </div>
</div>