<h2>Questions#show</h2>
<div><%= link_to 'Back', questions_path, class: 'btn btn-secondary' %></div>
<div>
  <h3><%= @question.title %></h3>
  <%= @question.body.present? ? @question.body : "No body" %>
 <hr>
</div>