<h1><%= t('actions.password_reset_instructions') %></h1>

<p>
  <%= t('actions.password_reset_instructions_body') %>
</p>

<p>
  <%= link_to t('actions.password_reset'), edit_password_reset_url(@user.password_reset_token), targer: '_blank', class: "btn btn-primary" %>
</p>

<p>
  <%= t('actions.password_reset_ignore') %>
</p>