<% if resource&.errors[resource_entity]&.any? %>
  <div class="invalid-feedback">
    <% resource.errors.full_messages_for(resource_entity).each do |message| %>
     <%= message %><br>
    <% end %>
  </div>
<% end %>