<% if resource&.errors[resource_entity]&.any? %>
  <div class="invalid-feedback">
    <ul>
      <% resource.errors.full_messages_for(resource_entity).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>